@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */

  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
button {
  cursor: pointer;
}
.landingpageWrapper * {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
.dflex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landingpageWrapper {
  overflow-x: hidden;
}
.landing-page1 {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/img/hero\ bg.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

.navbar {
  /* border: 2px solid red; */
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 12%;
  margin-top: 20px;
  /* border: 2px solid red; */
}

.navbar h3 {
  font-weight: 400;
}
.list {
  display: flex;
  /* border: 2px solid white; */
  border-radius: 30px;

  align-items: center;
  width: 62%;
  height: 90%;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgba(255, 255, 255, 0.103);
  border-color: rgba(255, 255, 255, 0.103);
  overflow: hidden;
  transition: width 0.5s ease;

  color: #fff;
}
.list h3 {
  font-size: 1vmax;
  transition: 0.5s ease;
  /* opacity: 1; */
}

.smalllist {
  width: 8%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease;

  transition: 0.5s ease;

  background-color: transparent;
  /* background-color: transparent; */
}
.smalllist h3 {
  font-size: 0vmax;
  opacity: 0;
  /* display: none; */
  transition: 0.5s ease;
}
.smalllist .o4 {
  display: none;
}
.testlogo {
  position: absolute;
  right: 14.5%;
  top: 5.3%;
}
.list > div {
  border: 2px solid red;
}
.list h3:hover {
  color: #ffc701;
  cursor: pointer;
}
.o4 {
  height: 35px;
  width: 35px;
  /* border: 2px solid red; */
}
.o5 {
  height: 35px;
  width: 35px;
  /* border: 2px solid red; */
}
span {
  color: #ffc701;
}
.page1-main {
  width: 100%;
  height: 60%;
  /* border: 2px solid blue; */
}
.page1-main > div:first-child > div:nth-child(2) {
  /* border: 2px solid yellow; */
  width: 50%;
  height: 100%;
}
.page1-main > div:first-child {
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
  margin-left: 5%;
  display: flex;
  align-items: end;
  justify-content: flex-start;
}
.page1-main-content {
  width: 50%;
  height: 80%;
  /* border: 2px solid yellow; */
  span {
    color: #ffc701;
  }
}
.page1-main-content > div:first-child h1 {
  font-size: 4vmax;
  color: white;
}
.page1-main-content > div:first-child {
  width: 100%;
  height: 50%;
  margin: 0;
  /* border: 2px solid green; */
}
.page1-main-content > div:nth-child(2) {
  width: 100%;
  height: 28%;

  /* border: 2px solid green; */
  > p {
    /* border: 2px solid red; */
    height: 100%;
    font-size: 1.2vmax;

    line-height: 30px;
  }
}
.page1-main-content > div:nth-child(3) {
  width: 100%;
  height: 20%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  gap: 30px;
}
.page1-main-content > div:nth-child(3) button:hover {
  background-color: #ffb701;
  cursor: pointer;
}

.page1-main-content > div:nth-child(3) button {
  width: 15%;
  height: 60%;
  border-radius: 30px;
  border: none;
  outline: none;
  color: black;
  background-color: #ffc701;
  font-weight: 600;
  font-size: 0.9vmax;
}
.page1-footer {
  width: 100%;
  height: 27%;
  /* border: 2px solid red; */
  object-fit: cover;
  object-position: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(30, 30, 30, 0), rgba(30, 30, 30, 1));
}
.companyPhoto {
  width: 100%;
  height: 27%;
  /* border: 2px solid red; */
  object-fit: cover;
  object-position: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(30, 30, 30, 0), rgba(30, 30, 30, 1));
}

/* .companyPhoto > div:first-child {
  width: 100%;
  height: 22%;
  border: 2px solid blue;
  background: linear-gradient(rgba(30, 30, 30, 0), rgba(30, 30, 30, 1));
} */
.companyPhoto > div:nth-child(1) {
  width: 100%;
  height: 78%;
  background-color: #1e1e1e;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.landing-page-2 {
  height: 95vh;
  width: 100vw;
  background-color: #1e1e1e;
  /* overflow-x: hidden; */
  position: relative;
}
.landing-page-2-main {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  background: linear-gradient(
      180deg,
      rgba(255, 199, 1, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #1a1814;
  flex-direction: column;
  position: absolute;
  transition: 1s ease;
}
.landing-page2-bullets {
  width: 100vw;
  height: 10vh;
  /* border: 2px solid yellow; */
  background-color: #1b1914;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.slider-btn {
  border: 1px solid #ffc701;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: rgba(255, 199, 1, 0.15);
  transition: 1s ease;
  cursor: pointer;
}
.landing-page-2-main > div:first-child > div {
  width: 50%;
  /* border: 2px solid green; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page-2-main > div:first-child {
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  /* flex-direction: row-reverse; */
}
.rowReverse {
  flex-direction: row-reverse;
}
.landing-page-2-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page-2-content span {
  color: #ffc701;
  font-size: 1.2vmax;
}
.landing-page-2-content {
  /* border: 2px solid white; */
  width: 90%;
  height: 70%;
  overflow: hidden;
}

.landing-page-2-img > img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
.landing-page-2-content > div:first-child {
  width: 100%;
  height: 10%;
}
.landing-page-2-content > div:nth-child(2) {
  width: 50%;
  height: fit-content;
  padding-bottom: 2%;
  /* border: 2px solid red; */
}
.landing-page-2-content > div:nth-child(2) > p {
  font-size: 2vmax;
  font-weight: 900;
}
.landing-page-2-content > div:nth-child(3) > p {
  color: rgba(255, 255, 255, 1);
  /* border: 2px solid red; */
  width: 80%;
  font-size: 1.2vmax;
  line-height: 30px;
  font-weight: 300;
}
.landing-page-2-content > div:nth-child(3) {
  width: 100%;
  height: 40%;
}
.landing-page-2-content > div:nth-child(4) {
  width: 100%;
  height: 20%;
  /* border: 2px solid green; */
}
.landing-page-2-content > div:nth-child(4) > button:hover {
  background-color: #ffb701;
  cursor: pointer;
}
.landing-page-2-content > div:nth-child(4) > button {
  width: 15%;
  height: 40%;
  border-radius: 30px;
  background-color: #ffc701;
  border: none;
  outline: none;
  font-size: 0.9vmax;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
}

.landing-page-3 {
  /* margin: 0;
  padding: 0; */
  height: 85vh;
  width: 100vw;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-x: hidden; */
  overflow: hidden;
}
.landing-page-3-main {
  /* border: 2px solid red; */
  width: 60%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
}
.landing-page-3-main > div:first-child h2 {
  margin: 0;
  padding: 0;
  font-size: 2vmax;
  text-align: center;
}
.landing-page-3-main > div:first-child {
  /* border: 2px solid red; */
  height: 15%;
}
.landing-page-3-main > div:nth-child(2) {
  /* border: 2px solid yellow; */
  height: 10%;
  font-size: 1.2vmax;
  text-align: center;
}
.landing-page-3-main > div:nth-child(3) {
  /* border: 2px solid red; */
  widows: 60%;
  height: 60%;
  > img {
    width: 98%;
    height: 98%;
    object-fit: contain;
  }
}
.landing-page-3-main > div:nth-child(4) {
  width: 100%;
  height: 7%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: end;
  justify-content: center;
}
.landing-page-3-main button {
  border: none;
  outline: none;
  background-color: #ffc701;
  width: 12%;
  border-radius: 30px;
  color: black;
  height: 90%;
  font-size: 0.9vmax;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0px 4px 8px 0px rgba(97, 97, 97, 0.18),
    0px 2px 4px 0px rgba(97, 97, 97, 0.18);
}
.landing-page-4 {
  width: 100vw;
  height: 100vh;
  background-color: #1e1e1e;
  /* border: 2px solid red; */
}

.landing-page-4-main {
  width: 100%;
  height: 40%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
      180deg,
      rgba(255, 199, 1, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #1a1814;
}
.landing-page-4-main > div {
  width: 30%;
  height: 80%;
  /* border: 2px solid red; */
  text-align: center;
  h3 {
    font-size: 2vmax;
    font-weight: 600;
  }
  p {
    font-size: 1vmax;
    line-height: 30px;
    text-align: center;
  }
}
.landing-page-4-main > div > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid yellow; */
  width: 100%;
  height: 60%;
}

.lp4-testinomal {
  width: 100%;
  height: 60%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.lp4-testinomal-main {
  width: 70%;
  height: 90%;
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2%;
}
.lp4-testinomal-main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid RED; */
}
.lp4-testinomal-main > div:nth-child(1) {
  width: 100%;
  height: 5%;
  color: #ffc701;
  font-size: 1.2vmax;
  overflow: hidden;
}
.lp4-testinomal-main > div:nth-child(2) {
  width: 100%;
  height: 15%;
  font-size: 2vmax;
  font-weight: 550;
}
/* .lp4-testinomal-main > div:nth-child(3) {
  width: 100%;
  height: 10%;
  font-size: 1.3vmax;
  font-weight: 500;
  display: none;
} */
.lp4-testinomal-main > div:nth-child(3) p {
  text-align: center;
  color: rgb(189, 186, 186);
  font-size: 1.2vmax;
}
.lp4-testinomal-main > div:nth-child(3) {
  width: 70%;
  height: 20%;
}
.lp4-testinomal-main > div:nth-child(4) small {
  color: gray;
}
.lp4-testinomal-main > div:nth-child(4) {
  width: 100%;
  height: 10%;
}
.lp4-testinomal-main > div:nth-child(5) {
  width: 100%;
  height: 20%;
  /* border: 2px solid yellow; */
  flex-direction: row;
  gap: 2%;
}

.lp4-testinomal-main > div:nth-child(5) > div:nth-child(1) {
  /* border: 2px solid yellow; */
  width: 70px;
  height: 70px;
  border-radius: 50px;
  overflow: hidden;
}
.lp4-testinomal-main > div:nth-child(5) > div:nth-child(3) {
  /* border: 2px solid red; */
  width: 70px;
  height: 70px;
  border-radius: 50px;
  overflow: hidden;
}
.lp4-testinomal-main > div:nth-child(5) > div:nth-child(2) {
  /* border: 2px solid red; */
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
}
.lp4-testinomal-main > div:nth-child(5) > div:nth-child(4) {
  /* border: 2px solid red; */
  width: 70px;
  height: 70px;
  border-radius: 50px;
  overflow: hidden;
}
.lp4-testinomal-main > div:nth-child(5) > div:nth-child(5) {
  /* border: 2px solid red; */
  width: 70px;
  height: 70px;
  border-radius: 50px;
  overflow: hidden;
}
.lp4-testinomal-main > div:nth-child(5) > div:nth-child(1) img {
  object-fit: cover;
  /* object-position: center; */
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.lp4-testinomal-main > div:nth-child(5) > div:nth-child(3) img {
  object-fit: cover;
  /* object-position: center; */
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.lp4-testinomal-main > div:nth-child(5) > div:nth-child(2) img {
  object-fit: cover;
  /* object-position: center; */
  height: 100%;
  width: 100%;
}
.lp4-testinomal-main > div:nth-child(5) > div:nth-child(4) img {
  object-fit: cover;
  /* object-position: center; */
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.lp4-testinomal-main > div:nth-child(5) > div:nth-child(5) img {
  object-fit: cover;
  /* object-position: center; */
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.lp4-testinomal-main > div:nth-child(6) button {
  background-color: transparent;
  width: 12%;
  height: 50%;
  border-color: #ffffff;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  font-size: 0.9vmax;
  border: 2px solid #ffffff;
  font-weight: 600;
}
.lp4-testinomal-main > div:nth-child(6) {
  width: 100%;
  height: 20%;
  /* border: 2px solid red; */
}
.landing-page-5 {
  width: 100vw;
  height: 80vh;
  background-color: #1e1e1e;
  /* border: 2px solid red; */
  /* overflow: hidden; */
}
.lp5-aiMusic {
  width: 100%;
  height: 50%;
  background-image: url(../assets/img/landingPageImg/aibg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lp5-aiMusic > div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}
.lp5-aiMusic > div:nth-child(1) {
  width: 100%;
  height: 10%;
  font-size: 2vmin;
}
.lp5-aiMusic > div:nth-child(2) {
  width: 100%;
  height: 20%;
  font-size: 2vmax;
  font-weight: 550;
}
.lp5-aiMusic > div:nth-child(3) {
  width: 100%;
  height: 10%;
  font-size: 2vmin;
}
.lp5-aiMusic > div:nth-child(4) > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.lp5-aiMusic > div:nth-child(4) {
  width: 100%;
  height: 20%;
  gap: 1%;
  /* border: 2px solid mediumseagreen; */
}
.lp5-aiMusic > div:nth-child(4) button:hover {
  border-color: #ffc701;
}
.lp5-aiMusic > div:nth-child(4) button {
  width: 12%;
  height: 50%;
  background-color: transparent;
  border-radius: 30px;
  /* border: none; */
  outline: none;
  border: 2px solid white;
  cursor: pointer;
  font-size: 1.5vmin;
}
.lp5-backed {
  width: 100%;
  height: 50%;
  /* border: 2px solid green; */
}
.lp5-backed > div:first-child {
  width: 100%;
  height: 30%;
  /* border: 2px solid blue; */
  font-size: 3vmax;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.lp5-backed > div:first-child > div img {
  width: 60%;
}
.lp5-backed > div:first-child > div {
  width: 25%;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.lp5-backed > div:nth-child(2) {
  height: 70%;
  width: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  gap: 10%;
  padding-left: 15%;
  flex-wrap: wrap;
}
.lp5-backed > div:nth-child(2) > div {
  width: 20%;
  height: 60%;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .lp5-backed > div:nth-child(2) > div img {
  width: 50%;
  height: 50%;
} */
.landing-page-6 {
  width: 100vw;
  height: 50vh;
  background-color: #1e1e1e;
  border-top: 1px solid gray;
  /* border: 2px solid green; */
}
.lp6-main {
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/landingPageImg/leaf.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.lp6-main a {
  text-decoration: none;
}

.lp6-main > div:nth-child(2) {
  width: 100%;
  height: 20%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  padding-left: 6%;
}
.lp6-main > div:first-child {
  width: 85%;
  height: 60%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lp6-main > div div {
  width: 15%;
  height: 80%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
}
.lp6-main > div > div:nth-child(1) > div:nth-child(3) {
  flex-direction: row;
  gap: 5%;
  align-items: center;
}
.lp6-main > div > div:nth-child(1) > div:nth-child(2) {
  font-size: 0.9vmax;
  line-height: 18px;
}
.lp6-main > div > div:nth-child(5) > div {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;

  gap: 20%;
}
.lp6-main > div > div:nth-child(5) > div input {
  width: 100%;
  height: 40%;
  border-radius: 10px;

  color: white;
  background-color: rgba(220, 220, 220, 0.24);
  padding-left: 10px;
  border: none;
  outline: none;
}
.lpSidebar {
  display: none;
}
.mobile-navbar {
  display: none;
}
.mob-page1-footer {
  display: none;
}
.mob-landing-page-4-main {
  display: none;
}
.mob-lp6-main {
  display: none;
}
.mobile-view {
  display: none;
}

@media only screen and (min-width: 1024px) and (max-width: 1903px) {
  .landing-page-3 {
    height: 100vh;
    /* border: 2px solid red; */
  }
  .landing-page-4 {
    height: 135vh;
  }
}
@media only screen and (width: 1263px) {
  .page1-main-content > div:nth-child(2) {
    /* border: 2px solid pink; */
    p {
      line-height: 23.28px;
    }
  }
  .landing-page-2-content > div:nth-child(3) > p {
    line-height: 23.28px;
  }
  .landing-page-4-main > div {
    p {
      line-height: 23.28px;
    }
  }
  .lp4-testinomal-main > div:nth-child(5) {
    height: 23%;
  }
  .lp4-testinomal-main > div:nth-child(5) > div:nth-child(2) {
    width: 70px;
    height: 70px;
  }
  .lp4-testinomal-main > div:nth-child(5) > div:nth-child(1) {
    width: 60px;
    height: 60px;
  }
  .lp4-testinomal-main > div:nth-child(5) > div:nth-child(3) {
    width: 60px;
    height: 60px;
  }
  .lp5-backed > div:nth-child(2) > div {
    height: 62%;
  }
  .lp6-main > div > div:nth-child(1) > div:nth-child(2) {
    line-height: 14px;
  }
}

@media only screen and (max-width: 600px) {
  /* .navbar {
    padding-right: 2%;
  } */
  p {
    font-size: 1.6vmax;
    font-weight: 550;
  }
  .navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 12%;
    margin-top: 20px;
  }
  .mobile-navbar > div:first-child > img {
    width: 60%;
  }
  .mobile-navbar > div:nth-child(2) {
    font-size: 2.5vmax;
  }
  .lpSidebar {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #1a1814;
    top: 0;
    right: -200%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    transition: 1s ease;
  }
  .lpSidebar-after {
    right: 0%;
    transition: 1s ease;
  }
  .lpSidebar > div:nth-child(1) img {
    height: 25%;
    padding-left: 5%;
  }
  .lpSidebar > div:nth-child(1) {
    width: 100%;
    height: 20%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
    padding-right: 11%;
    font-size: 3vmax;
  }
  .lpSidebar > div:nth-child(2) {
    /* border: 2px solid red; */
    width: 50%;
    height: 50%;
    font-size: 3vmax;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5%;
    gap: 5%;
  }
  .page1-main-content {
    width: 100%;
  }
  .mobile-view {
    display: block;
  }
  .landing-page-2 {
    height: 85vh;
  }
  .mobile-view-2 {
    display: none;
  }
  .landing-page-2-main-mob {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    background: linear-gradient(
        180deg,
        rgba(255, 199, 1, 0.1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #1a1814;

    position: absolute;
    transition: transform 1s ease;
  }
  .landing-page-2 {
    height: 92svh;
  }
  .landing-page-2-content-mob {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .landing-page-2-content-mob > div {
    border: 20px solid transparent;
  }
  .landing-page-2-content-mob > div:nth-child(1) > span {
    /* border: 2px solid red; */
    color: rgba(255, 199, 1, 1);
    width: 100%;
    text-align: center;
    font-size: 2.2vmax;
    font-weight: 600;
  }
  .landing-page-2-content-mob > div:nth-child(1) {
    height: 10%;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* border: 2px solid red; */
    border: 2px solid transparent;
  }
  .landing-page-2-content-mob > div:nth-child(2) > p {
    font-size: 2.8vmax;
  }
  .landing-page-2-content-mob > div:nth-child(2) {
    height: 10%;
    border: 2px solid transparent;
    width: 100%;

    text-align: center;
  }
  .landing-page-2-content-mob > div:nth-child(3) img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
  .landing-page-2-content-mob > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    /* border: 2px solid yellow; */
    border: 2px solid transparent;
  }
  .landing-page-2-content-mob > div:nth-child(4) p {
    /* display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical; */
    /* overflow: hidden; */
    text-align: center;
    font-size: 1.8vmax;
    line-height: 20px;
    /* border: 2px solid red; */
    height: 100%;
    width: 95%;
    /* line-height: 30px; */
    /* border: 2px solid red; */
  }
  .landing-page-2-content-mob > div:nth-child(4) {
    height: 35%;
    width: 100%;
    /* border: 2px solid green; */
    border: 2px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-page-2-content-mob > div:nth-child(5) {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    border: 2px solid transparent;
  }
  .landing-page-2-content-mob > div:nth-child(5) button {
    width: 45%;
    height: 100%;
    border: 2px solid #ffc701;
    background-color: #ffc701;

    color: black;
    font-size: 2.2vmax;
    font-weight: 600;
    border-radius: 30px;
  }

  .landing-page1 {
    width: 100svw;
    height: 100svh;
    background-image: url(../assets/img/mobilebackground.png);
    background-position: center top;
    background-size: cover;
  }
  .page1-main {
    height: 85%;
  }
  .page1-main > div:first-child {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
  }
  .page1-main-content {
    width: 80%;
    height: 95%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* border: 2px solid red; */
    text-align: center;
  }
  .page1-main-content > div:first-child {
    height: 18%;
  }
  .page1-main > div:first-child > div:nth-child(2) {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 1%;
  }
  .page1-main-content > div:nth-child(2) {
    height: 35%;
    /* border: 2px solid red; */
    p {
      font-size: 2.2vmax;
      text-align: center;
      /* text-wrap: pretty; */
      line-height: 26.28px;
    }
    br {
      display: none;
    }
  }
  .page1-main-content > div:nth-child(3) {
    justify-content: flex-end;
    flex-direction: column;
    height: 30%;
    font-size: 2vmax;
    > p {
      font-size: 2vmax;
    }
  }

  .slider-btn {
    width: 10px;
    height: 10px;
  }
  .page1-main-content > div:nth-child(3) button {
    width: 65%;
    height: 30%;
    font-size: 2.5vmax;
  }
  .landing-page-2-content > div:nth-child(3) > p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .landing-page-3 {
    height: 62vh;
    padding-bottom: 5%;
  }
  .landing-page-3-main {
    width: 90vw;
  }

  .landing-page-3-main > div:nth-child(1) {
    height: 20%;
    padding-top: 2%;
    /* border: 2px solid red;0 */
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 2.8vmax;
      text-align: center;
      br {
        display: none;
      }
    }
  }
  .landing-page-3-main > div:nth-child(2) {
    height: 30%;
    width: 90%;
    text-align: center;
    > p {
      font-size: 1.8vmax !important;
      /* line-height: 26px; */
    }
  }
  .landing-page-3-main > div:nth-child(3) {
    height: 50%;
    overflow: hidden;
  }
  .landing-page-3-main > div:nth-child(4) {
    height: 10%;
  }
  .landing-page-3-main img {
    height: 90%;
    width: 100%;
    object-fit: contain;
  }
  .landing-page-3-main button {
    font-size: 2.2vmax;
    font-weight: 600;
    width: 30%;
    height: 100%;
  }
  .page1-footer {
    display: none;
  }
  .companyPhoto {
    height: 50%;

    > div {
      /* justify-content: center; */
      align-items: center;
      > div {
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    img {
      width: 65%;
      height: 65%;
    }
  }
  .mob-page1-footer > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mob-page1-footer {
    display: block;
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6%;

    background-color: #1e1e1e;
  }
  .mob-page1-footer > div > div {
    width: 100%;
    height: 33%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mob-page1-footer > div > div img {
    width: 70%;
  }
  .landing-page-4-main {
    display: none;
  }
  .mob-landing-page-4-main {
    display: block;
    background: linear-gradient(
        180deg,
        rgba(255, 199, 1, 0.1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #1a1814;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
  }
  .mob-landing-page-4-main > div {
    width: 90%;
    height: 32%;
    text-align: center;
    border: 3px solid transparent;
    h3 {
      font-size: 2.8vmax;
    }
    > div:nth-child(2) > p {
      font-size: 1.8vmax;
      font-weight: 500;
      line-height: 20.6px;
    }
  }
  .mob-landing-page-4-main > div:first-child {
    padding-top: 5%;
  }
  .mob-landing-page-4-main > div:last-child {
    padding-bottom: 2%;
    overflow: hidden;
  }
  .landing-page-4 {
    height: 70vh;
    /* border: 2px solid green; */
    /* margin-bottom: -25%; */
  }
  .lp4-testinomal {
    height: 70vh;
    /* border: 2px solid red; */
    /* margin-top: -15%; */
  }
  .lp4-testinomal-main {
    /* border: 2px solid blue; */
    width: 85%;
  }
  .lp4-testinomal-main > div:nth-child(1) {
    font-size: 2vmax;
    font-weight: 550;
    /* border: 2px solid red; */
  }

  .lp4-testinomal-main > div:nth-child(5) {
    gap: 7%;

    height: 30%;
  }
  .lp4-testinomal-main > div:nth-child(5) > div:nth-child(1) {
    /* border: 2px solid yellow; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  .lp4-testinomal-main > div:nth-child(5) > div:nth-child(3) {
    /* border: 2px solid red; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  .lp4-testinomal-main > div:nth-child(5) > div:nth-child(2) {
    /* border: 2px solid red; */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }
  .lp4-testinomal-main > div:nth-child(5) > div:nth-child(4) {
    /* border: 2px solid red; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  .lp4-testinomal-main > div:nth-child(5) > div:nth-child(5) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  .lp4-testinomal-main > div:nth-child(1) {
    /* border: 2px solid green; */
    height: 10%;

    font-size: 2.2vmax;
  }
  .lp4-testinomal-main > div:nth-child(2) {
    height: 18%;
    text-align: center;

    font-size: 2.8vmax;
  }
  .lp4-testinomal-main > div:nth-child(3) {
    /* border: 2px solid white; */
    width: 100%;
    height: 40%;
  }
  .lp4-testinomal-main > div:nth-child(3) p {
    width: 100%;
    font-size: 1.8vmax;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lp4-testinomal-main > div:nth-child(4) {
    /* border: 2px solid blue; */
    font-size: 2.2vmax;
    height: 15%;
  }
  .lp4-testinomal-main > div:nth-child(6) button {
    width: 50%;
    height: 80%;
    font-size: 2.2vmax;
    font-weight: 600;
  }
  .lp5-aiMusic {
    gap: 5%;
  }
  .lp5-aiMusic > div {
    flex-direction: column;
  }
  .lp5-aiMusic > div:nth-child(4) button {
    width: 80%;
    font-size: 1.8vmax;
  }
  .lp5-aiMusic > div:nth-child(1) {
    font-size: 2.5vmax;
  }
  .lp5-aiMusic > div:nth-child(2) {
    font-size: 3vmax;
    text-align: center;
  }
  .lp5-aiMusic > div:nth-child(3) {
    font-size: 1.8vmax;
    text-align: center;
  }
  .lp5-aiMusic > div:nth-child(4) {
    height: 30%;
    gap: 20%;
    font-size: 2vmax;
  }
  .lp5-backed > div:first-child > div {
    width: 50%;
    margin-left: 10%;
    margin-left: 20%;
  }
  .lp5-backed > div:nth-child(2) {
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    /* border: 2px solid RED; */
    /* height: fit-content; */
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;

    /* align-items: center; */
    flex-grow: 2;
  }
  .lp5-backed > div:nth-child(2) > div {
    width: 40%;
    height: 40%;

    /* margin-right: 20%; */
    /* border: 2px solid red; */
  }
  .lp5-backed > div:nth-child(2) > div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .lp5-backed > div:nth-child(2) > div:nth-child(3) img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .lp6-main,
  .landing-page-6 {
    display: none;
  }
  .mob-lp6-main a {
    text-decoration: none;
  }

  .mob-lp6-main {
    display: block;
    background-color: #1e1e1e;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-image: url(../assets/img/landingPageImg/mopfooter2.png);
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  .mob-lp6-main > div:nth-child(2) {
    width: 100%;
    height: 10%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9vmax;
    border-top: 2px solid gray;
  }
  .mob-lp6-main > div:first-child {
    height: 90%;
    width: 92%;
  }
  .mob-lp6-main > div > div:nth-child(1) > div > div:first-child img {
    width: 25%;
    padding-bottom: 2%;
  }
  .mob-lp6-main > div > div:nth-child(1) > div:nth-child(2) {
    /* border: 2px solid green; */
    height: 30%;
  }
  .mob-lp6-main > div > div:nth-child(1) > div:nth-child(2) > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
  }
  .mob-lp6-main > div > div:nth-child(1) > div:nth-child(2) > div input {
    width: 80%;
    height: 50%;
    border-radius: 10px;
    padding-left: 5%;
    border: none;
    outline: none;
    background-color: rgba(220, 220, 220, 0.24);
  }
  .mob-lp6-main > div > div:nth-child(1) {
    width: 100%;
    height: 40%;
    /* border: 2px solid green; */
    background-image: url(../assets/img/landingPageImg/mopfooter1.png);
    font-size: 1.8vmax;
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 3%;
  }
  .stayConnected {
    font-size: 2.2vmax;
    font-weight: 600;
    /* border: 2px solid red; */
    height: 20%;
  }
  .mob-lp6-main > div > div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    gap: 3%;
  }
  .mob-lp6-main > div > div:nth-child(2) {
    /* border: 2px solid white; */
    height: 30%;
    width: 100%;
    display: flex;
    gap: 10%;
    font-size: 2vmax;
  }

  .mob-lp6-main > div > div:nth-child(3) {
    /* border: 2px solid blue; */
    height: 30%;
    width: 100%;
    font-size: 1.9vmax;
    display: flex;
    flex-direction: column;
    gap: 3%;
  }
  .mob-lp6-social {
    display: flex;
    gap: 3%;
    align-items: end;
    padding-top: 2%;
  }
}
